body{
    font-family:'Raleway';
    /* background: #f1f1f1; */
}
p{
    padding: 0px;
    margin: 0px;
}
.contenedor{
    height: 200px;
}

/* @keyframes es la palabra reservada
MiAnimacion es el nombre q yo asigno */


@keyframes primera{
    0%{opacity: 0;}
    25%{opacity: 0.5;}
    50%{opacity: 1;}
    75%{opacity: 0.5;}
    100%{opacity: 0;}
}
.primera{
    background: linear-gradient(217deg, rgba(15, 100, 237, 0.8), rgba(36, 236, 243, 0.807) 70.71%);
    width: 20px;  
    height: 20px;
    border-radius: 25%;
    animation: primera 5s ease infinite;  
}

.sola1{
    background-color: #f82cee;
    width: 20px;  
    height: 20px;
    border-radius:50%;
    animation: sola 4.5s ease infinite;
}@keyframes sola{
    0%{background: #d62cf8;opacity: 0.5}
    25%{background: #de8509;opacity: 0.5 }
    50%{background: #e20a6f;opacity: 1}
    75%{background: #793ceb;opacity: 0.5}
    100%{background: #f2530f;opacity: 0.5}
    }


@keyframes segunda{
    0%{opacity: 1;}
    25%{opacity: 0.5;}
    50%{opacity: 0;}
    75%{opacity: 0.5;}
    100%{opacity: 1;}
}
.segunda{
    background: linear-gradient(237deg, rgba(16, 175, 4, 0.8), rgba(81, 248, 76, 0.807) 90.71%);
    width: 20px;  
    height: 20px;
    border-radius:50%;
    animation: segunda 7s ease infinite; 
}

@keyframes tercera{
    0%{opacity: 1;}
    25%{opacity: 0.5;}
    50%{opacity: 0;}
    75%{opacity: 0.5;}
    100%{opacity: 1;}
}
.tercera{
    background: linear-gradient(237deg, rgba(232, 235, 24, 0.8), rgba(243, 129, 48, 0.807) 90.71%);
    width: 20px;  
    height: 20px;
    border-radius: 15px 20px 35px 10px;
    animation: segunda 9s ease infinite; 
}


@keyframes cuarta{
    0%{opacity: 0.5;}
    25%{opacity: 0.8;}
    50%{opacity: 1;}
    75%{opacity: 0.8;}
    100%{opacity: 0.5;}
}
.cuarta{
    background: linear-gradient(237deg, rgba(43, 20, 221, 0.8), rgba(200, 26, 226, 0.807) 90.71%);
    width: 20px;  
    height: 20px;
    border-radius: 25px 0px 15px 15px;
    animation: segunda 9s ease infinite; 
}
 img{
    border-top: solid 1.5px #d3c20c;
    border-bottom: solid 1.5px #e20a6f;
    border-left: solid 1.5px #a606c6;
    border-right: solid 1.5px #45b306; 
}

.inscripciones{
    height: 80px;
    width: 220px;
    background: #fef6e0;
    border-radius: 15px;
    color:  #f3c74f;
}
.inscripciones:hover{    
    background: #f3c74f;
    border-radius: 15px; 
    color: #fff;   
}
.horario{
    font-size: 12px;
}

.actividades{
    height: 80px;
    width: 220px;
    background: #b67ff5;
    border-radius: 15px;
    color:  #8334eb;
}
.actividades:hover{    
    background: #8334eb;
    border-radius: 15px; 
    color: #fff;   
}

.galeria{
    height: 80px;
    width: 220px;
    background: #f474d8;
    border-radius: 15px;
    color:  #ba058d;
}
.galeria:hover{
    background: #ba058d;
    border-radius: 15px; 
    color: #fff;   
}

.contacto{
    height: 80px;
    width: 220px;
    background: #74f4cc;
    border-radius: 15px;
    color:  #07963b;
}
.contacto:hover{
    background: #07963b;
    border-radius: 15px; 
    color: #fff;   
}

div .bi-pencil-square,
.bi-sliders,
.bi-columns-gap,
.bi-whatsapp{
    font-size: 50px;
}

.apoyo{
    font-family: 'Rubik Dirt', cursive;
    font-size: 35px;
    text-shadow: 5px 3px 5px #4eeaab;
}
.correccion{
    font-family: 'DynaPuff', cursive;
    font-size: 35px;
    text-shadow: 5px 3px 5px #ee57f3;
}
.desarrollo{
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 2px #5d3804;
}
.reforzamiento{
    font-family: 'Carter One';
    font-size: 40px;
    text-shadow: 5px 2px 2px #182ed6;
}
.lista{
    background: #fff;
}
.footer{
    background: linear-gradient(217deg, rgba(12, 209, 98, 0.8), rgba(78, 40, 175, 0.807) 70.71%);
}